:root{
    --h-nav-height:46px;
}
/* Set .vNav parent height  */
.vNav{
	list-style: none;
	padding:0;
    height: var(--h-nav-height);	
    
}
.vNav.h-menu li{
	width:auto;
	height:100%;
	text-align:center;
	line-height:var(--h-nav-height);
	float:left; /*neccessary*/
    position: relative;
    padding: 0 15px;
    box-sizing: border-box;
}
.vNav.h-menu > li ul li{
    padding: 0 0 0 15px;
    box-sizing: border-box;
}
.vNav.h-menu > li ul li a{
    text-align: left;
    transition: padding-left .1s linear;
}
.vNav.h-menu ul{
	list-style: none;
}
.vNav.h-menu ul li{
	list-style: none;
}
.vNav.h-menu .activeSelection{/* For active selection state*/
    color: blueviolet;
}
.vNav.h-menu .activeMenu{ /* For main menu active state*/
    color:red;
}
/*Main menu with sub menu*/
.vNav.h-menu li.has-sub{ 
    position: relative;
}
.vNav.h-menu li.has-sub > ul{ 
    overflow: hidden;
}
.vNav.h-menu li.has-sub::after{
    position: absolute;
    content: '\e259';
    font-family: vicon;
    width: 12px;
    height: 100%;
    top: 0;
    right: 0;
    font-size: 7px;
    color: var(--main-primary-color);
}

/*Sub menu with sub menu*/
.vNav.h-menu li.sub{ 
    position: relative;
}
.vNav.h-menu li.sub::after{
    position: absolute;
    content: '\e258';
    font-family: vicon;
    width: 20px;
    height: 100%;
    top: 0;
    right: 0;
    font-size: 8px;
    color: var(--main-primary-color);
}
.vNav.h-menu li > a{
	font-size: 13px;
    text-decoration: none;
    position:relative;
    width: 100%;
    height: 100%;
    color: var(--main-primary-color);
    display: inline-block;
}

.vNav.h-menu > li > a{
    text-transform: uppercase;
}
.vNav.h-menu > li > a:hover{
    color:blue;
}
.vNav.h-menu > li::before{
    height: 2px;
    position: absolute;
    left: 0;
    top: 7px;
    content: '';
    background-color: blue;
    width: 0;
    transition: width .2s linear;
}
.vNav.h-menu > li:hover::before{
    width:100%;
}

.vNav.h-menu li a, .vNav.h-menu li.has-sub::after{
    cursor: pointer;
}

/*Main menu drop down*/
.vNav.h-menu li.has-sub > ul{ /*dynamic location for all ul with level 2 (drop down)*/
	display:none;
	position:absolute;
	left: 0;
	height: 0;
	width: 130px;
	font-size: 0px;
	transition:height 0.2s linear;
    top: 100%;
    border-top-color: white!important;
    background-image:linear-gradient(to bottom, #fff 0%, #dbd8d8 100%);
}

.vNav.h-menu li ul li{
	height: 35px;
	line-height: 30px;
	width: 100%;
	color: green;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: inherit;
	transition:font-size 0.2s ease;
    border-top: dashed 1px #ccc;
}

.vNav.h-menu li ul li a{ /* Level 2 links styles*/
	color: rgb(59, 56, 56);
	font-size: inherit;
}
.vNav.h-menu li ul li ul li a{ /* Level 3 and above links style*/
	/* color: red; */
	font-size: inherit;
}

.vNav.h-menu li ul li a:hover{ /* Level 2 links styles*/
	color: yellow;
    padding-left: 5px;
}
.vNav.h-menu li ul li ul{ 
	top:0px;
	position: absolute;
	height: auto;
	width: 0;
	display: none;
	transition:width 0.5s cubic-bezier(0,.93,.76,.98) ;
	font-size: 0px;
    border:solid 1px blue;
    background-color: #ccc;
}