/*******CSS Document********/
/********Typo Large*********/
/*
	H1 @ Level 4 = 68px;
	scale ratio = 1.618
	line height ratio = 1.44 => 23px;

*/

html {
  font-size: 16px;
  line-height: 23px;
}
body{
    font-family: proximaNova;
    font-size: 1rem;
    line-height: 23px;
    font-weight: 300;
}
h1{
  font-size: 4.25rem;
  line-height: 69px;
  font-family: gnuolane;
  margin-bottom: 46px;
}
h2, h3, h4 {
    font-family: gnuolane;
}
h2{
  font-size: 2.625rem;
  line-height: 2.875rem;
  margin-bottom: 1.4375rem;
}
h3{
  font-size: 1.625rem;
  line-height: 2.875rem;
  margin-bottom: 0rem;
  text-transform:uppercase;
}
/*************************/

@media screen and (max-width:1000px){
 /********Typo Medium*********/
/*
	H1 @ Level 4 = 35px;
	scale ratio = 1.309
	line height ratio = 1.44 => 23px;

*/
  h1{
    font-size: 35px;
  }
  h2{
    font-size: 27px;
  }
  h3{
    font-size: 21px;
  }
  /*************************/
}

@media screen and (max-width:600px){
/********Typo Small*********/
/*	
	H1 @ Level 4 = 24px;
	scale ratio = 1.155
	line height ratio = 1.44 => 23px;

*/

h1{
  font-size: 24px;
}
h2{
  font-size: 21px;
}
h3{
  font-size: 18px;
}
/*************************/
}