#homeBox{
    height: 100%;
    background-image: url(/assets/imgs/funky-lines.png), linear-gradient(to bottom, #fffefe 0%, #8a8787 100%);
    background-blend-mode: overlay;
}
#searchBox{
    height: 100%;
    max-width: 400px;
    margin: 0 auto;
}
#searchContent p{
    text-align: center;
    margin-bottom: 12px;
    color: #736a6a;
    font-size: 22px;
}
#searchContent span{
    color: #636915;
}
#searchInputField{
    display: flex;
    border: solid 1px  #eae6e6;
    border-radius: 10px;
    box-shadow: 0 0 7px 0px #ccc;
    position: relative;
}

#searchInput{
    width: 100%;
    height: 46px;
    border: none;
    padding: 0px 110px 0 48px;
    box-sizing: border-box;
    border-radius: 10px;
}
.s-input{
    width:100%;
    position: relative;
}
.s-input::before{
    position: absolute;
    width: 46px;
    height: 100%;
    font-family: vicon;
    content: "\e992";
    left:0;
    text-align: center;
    line-height: 46px;
    font-size: 20px;
    color: #bfb9b9;
}
.c-box{
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
}
.iwrapper.btn{
    margin-top: 10px;
}
.iwrapper #search-bt{
    width: 170px;
    height: 46px;
    margin: 0 auto;
    display: block;
    border: solid 1px #e6e6e6;
    border-radius: 3px;
    background-image: linear-gradient(to bottom, #f2eeee 0%, white 100%);
    font-family: proximaNova;
    text-transform: uppercase;
    color: var(--main-primary-color);
    cursor: pointer;
}

.iwrapper #search-bt:hover{
    color: #636915;
}
.iwrapper #search-bt:active{
    color:#bbb;
    background-image: linear-gradient(to top, #f2eeee 0%, white 100%);
}