.cOff:not([disabled]){
    cursor: default!important;
}
.cOff[disabled]{
    cursor: not-allowed!important;
}
.xOverlay > div{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top:0;
}
.xOverlay > div::before{
    content: '';
    background-image: linear-gradient(to top, #312f304f 0%, #000 100% );
    position: absolute;
    width:100%;
    height:100%;
}
.xFill{
    background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.xScroll::-webkit-scrollbar {
    display: none; /* Chrome */
}
.xScroll{
    overflow-y:scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.vSlide.dim{
    transition: height 0.2s linear, width 0.2s linear;
    height: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.vSlide.pos{
    transition: left 0.2s linear, top 0.2s linear;
    top: 0px;
}
.vSlide.done{
    overflow-y: visible!important;
}