/* Radio Button */
.vRadioButtonWrapper {
    height:auto;
    display:block;
    position: relative;
    float:left;
    margin-right: 5px;
    margin-top: 3px;
}
.vRadioButtonWrapper :focus{ /*To fix chrome default outline*/
outline: none;
}
.vRadioButtonWrapper .vRadioButton {
cursor:pointer;
box-sizing:border-box;
border-radius:100%;
position: absolute;
left:0;
top:0;
width:inherit;
height: inherit;
}
.vRadioButtonLabel{
cursor:pointer;
float:left;
margin-right:5px;
}
.vRadioButtonWrapper .vRadioButton::before {
position:absolute;
border-radius:100%;
transition:all .2s linear;
text-align:center;
box-sizing: border-box;
width:inherit;
height: inherit;
}
.vRadioButtonWrapper .selected::before {
background-color:black;
}
.vRadioButtonWrapper .deselected::before{
background-color:white;
border:solid 1px black;
}
.xRnative{
visibility: hidden;
position: absolute;
left: -999px;
top:0;
}
/* _____________________ */

/* Select Input */
.vSelect{
    z-index: 100;
    position: relative;
  }
  .vSelect :focus{ /*To fix chrome default outline*/
    outline: none;
  }
  .vSelect.superActive{
    z-index: 103!important;
  }
  .vSelect .sFieldCon{
    position: relative;;
    width:100%;
    z-index:1;
    cursor:pointer;
    box-sizing: border-box;
    height: 100%;
    display:flex;
  }
  .vSelect .sOptionGroup{
    background-color:#ddd;
    padding-left: 10px;
    height: 23px;
    line-height: 23px;
    font-weight: bold;
    color:black;
  }
  .vSelect .sField{
    flex:1;
    padding: 0 10px;
    background-color:white;
    border: solid 1px #ccc;
    border-right: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-color: inherit;
    height: 100%;
  }
  .vSelect .sIcon{
    width:35px;
    background-image: linear-gradient(to bottom, #eaeaea 0%,white 100%);
    position: relative;
  }
  .vSelect .sIcon::before{
    width:100%;
    height: 100%;
    position: absolute;
    text-align: center;
    color: #ccc;
    font-size: 13px;
    transition: transform .1s linear;
    transform: rotate(0deg);
    content:"v";
  }
  .vSelect .iconOpen::before{
    transform: rotate(180deg);
  }
  .vSelect .iconClose::before{
    transform: rotate(0deg);
  }
  .vSelect .sSearchInput{
    width:98%;
    margin:0 auto;
    box-sizing: border-box;
    display: block;
    height: 35px;
    padding:0 35px 0 10px!important;
    border: solid 1px #ccc!important;
    border-radius: 3px!important;
    
  }
  .vSelect .sOptionCon{
    max-height:70vh;
    overflow-y: auto;
    /* margin-top: 3px; */
    scrollbar-width: thin;
  }
  .vSelect .optionsCon {
    position:absolute;
    width:100%;
    height:0px;
    z-index:inherit;
    transition:height 0.1s linear;
    display:none;
    background-color: white;
    border: solid 1px #ccc;
    box-sizing: border-box;
    overflow: hidden;
  }
  .vSelect .sSearchBox{
    margin-top:2px;
    position: relative;
    margin-bottom: 2px;
  }
  .vSelect .sSearchBox::before{
    width:35px;
    position: absolute;
    right:0;
    top:0;
    text-align: center;
    font-size: 16px;
  }
  .vSelect  .optionsCon .sOption {
    position:relative;
    width:100%;
    padding-left:10px;
    height:23px;
    box-sizing:border-box;
    font-size: 13px;
    line-height: 23px;
  }
  .vSelect .optionsCon .sOption[data-disabled='false'] {
    cursor:pointer;
  }
  .vSelect .optionsCon .sOption[data-disabled='true'] {
    cursor:not-allowed;
    background-color:#2f2a2a;
    color:#595454!important;
  }
  .vSelect .innerOpt{
    padding-left: 23px!important;
  }
  .vSelect .optionsCon .sOption:last-of-type {
    border-bottom:none!important;
  }
  
  .vSelect .optionsCon .vSselected {
    background-color:rgba(100, 95, 95, 0.5)!important;
    color:white;
  }
  .vSelect .optionsCon .hovered {
    background-color:rgba(200, 199, 199, 0.3)!important;
  }
  
  .vSelect .sHide{
    display: none;
  }
  .xSnative{
    visibility: hidden;
    position: absolute;
    left: 0;
    top:0;
  }
  .xSnativeWrap{
    width: 100% !important;;
  }
/* _____________________ */

/* Slide Switch */
.vSlideSwitchWrapper {
    position: relative;
    border-radius: 50px;
    border: solid 1px #ccc;
    box-sizing: border-box;
    cursor: pointer;
}
.vSlideSwitchWrapper::before {
    position: absolute;
    border-radius: 100%;
    background-color: white;
    content:'';
    box-sizing: border-box;
    z-index: 1;
    transition: left .1s cubic-bezier(.83,0,.65,.34);
}
.vSlideSwitchWrapper .vSliderBg{
    width: 200%;
    position: absolute;
    height: 100%;
    display: flex;
    transition: left .1s cubic-bezier(.83,0,.65,.34);
}
.vSlideSwitchWrapper.sOff .vSliderBg{
    left:-100%;
}
.vSlideSwitchWrapper.sOff::before{
    left:0px;
}
.vSlideSwitchWrapper.sOn .vSliderBg{
    left:0px;
}
.vSlideSwitchWrapper .vSliderBg > div{
    flex:1;
    font-size: 12px;
}
.vSlideSwitchWrapper .vSliderBg-OFF{
    text-align: right;
    padding-right: 3px;
    box-sizing: border-box;
}
.vSlideSwitchWrapper .vSliderBg-ON{
    text-align: left;
    padding-left:3px;
    box-sizing: border-box;
}
.vSlideSwitchWrapper .vSlideSwitchWrapperVp{
    width:100%;
    height:100%;
    position: relative;;
    overflow: hidden;
    border-radius: 50px;
}
.xChkNative{
    visibility: hidden;
    position: absolute;
    left: 0;
    top:0;
    display: block;
    z-index: -1;
    left: -999px;
  } 
/* _____________________ */

/* Checkbox */
.vCheckboxWrapper {
    height:auto;
    display:block;
    top:0px;
    position: relative;
    margin-right:5px;
  }
  .vCheckboxWrapper :focus{ 
    outline: none;
  }
  .vCheckboxWrapper .vCheckbox {
    cursor:pointer;
    box-sizing:border-box;
    border-radius:3px;
    position: absolute;
    left:0;
    top:0;
    width:inherit;
    height: inherit;
  }
  .vCheckboxLabel{
    cursor:pointer;
    margin-right:5px;
  }
  .vCheckboxWrapper .vCheckbox::before {
    content:'';
    position:absolute;
    text-align:center;
    box-sizing: border-box;
    transition:content .2s linear;
    width:inherit;
    height: inherit;
  }
  .xCnative{
    visibility: hidden;
    position: absolute;
    left: 0;
    top:0;
    display: block;
    z-index: -1;
    left: -999px;
  } 
/* _____________________ */

/* Date Picker */
.vDatePicker{
    position: relative;
    z-index: 100;
  }
  .vDateBoxTool :focus{ /*To fix chrome default outline*/
    outline: none;
  }
  .vDatePicker.superActive{
    z-index: 103;
  }
  .vDatePicker .dFieldCon{
    position: relative;;
    width:100%;
    z-index:1;
    cursor:pointer;
    box-sizing: border-box;
    display:flex;
    height:100%;
  }
  .vDatePicker .dField{
    flex:1;
    padding-left: 10px;
    background-color:white;
    border: solid 1px #ccc;
    border-right: none;
    height:100%;
    box-sizing: border-box;
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .vDatePicker .vDateIcon{
    width:35px;
    background-image: linear-gradient(to bottom, #eaeaea 0%,white 100%);
    border: solid 1px #dddbdb;
    position: relative;
  }
  .vDatePicker .vDateIcon::before {
    cursor:pointer;
    text-align:center;
    position:absolute;
    width:100%;
    right:0;
    height:100%;
    box-sizing:border-box;
    font-size: 20px;
    color:green;
  }
  .vDatePicker .vDateIcon:hover::before {
    color:rgb(18, 66, 18);
  }
  .vDatePicker .vDateIcon:active::before {
    color:rgb(25, 230, 25);
  }
  .vDatePicker .vDateBoxTool {
    transition:height 0.1s linear;
    overflow:hidden;
    display:none;
    width:300px;
    height:0px;
    position:absolute;
    top:calc(100% + 2px);
    left:0;
  }
  .vDateBoxTool .vDateBox {
    box-sizing: border-box;
    overflow:hidden;
    border-radius:5px;
    width:100%;
    height:auto;
    position: relative;
    left:0;
    border:solid 1px #ccc;
    background-color: white;
  }
  .vDateBoxTool .vDateBoxArrow > div{
    width:16px;
    height:10px;
    position: relative;
   
  }
  .vDateBoxTool .vDateBoxArrow > div.vtop{
    top:0;
  }
  .vDateBoxTool .vDateBoxArrow > div.vbottom{
    bottom:0;
  }
  .vDateBoxTool .vDateBoxArrow > div.shift {
    left: 50%!important;
    margin-left: -8px;
  }
  .vDateBoxTool .vDateBoxArrow > div::before {
    width:0;
    height:0;
    position:absolute;
    content:'';
    top:0px;
    border-left:solid 7px transparent;
    border-right:solid 7px transparent;
  }
  .vDateBoxTool .vDateBoxArrow > div.vtop::before {
    border-bottom:solid 10px #ccc;
  }
  .vDateBoxTool .vDateBoxArrow > div.vbottom::before {
    border-top:solid 10px #ccc;
  }
  .vDateBoxTool .vDateBoxHeader {
    font-synthesis: unset;
    color:#c5c5c5;
    font-weight: bold;
    position:relative;
    box-shadow:0 2px 4px 0 #7e7979;
    width:100%;
    height:36px;
    background-image:linear-gradient(to top, black 0% , #4a4949 100%);
    text-align:center;
    line-height:36px;
  }
  .vDateBoxTool .vDateBoxDisplayCon {
    position: relative;
    width:100%;
    height:180px;
    background-color:white;
    color:purple;
  }
  .vDateBoxTool .vDateRangeCon, .vDateBoxTool .vyearsPage{
    opacity:1;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
    left:0;
    position: absolute;
    width:auto;
    height:100%;
  }
    .vDateBoxTool .vDateRangeConTrans{
    transition:all .15s linear!important;
  }
  .vDateBoxTool .rangeBox, .vDateBoxTool .yearsBox{
    flex-shrink:0;
    flex-basis:300px;
    justify-content: center;
    align-content: center;
    height:100%;
    box-sizing: border-box;
    /* padding:20px 0 20px 20px; */
    display: flex;
    flex-wrap: wrap;
    width:300px;
  }
  .vDateBoxTool .range, .vDateBoxTool .yearsBox>.year{
    transition:all .1s linear;
    cursor:pointer;
    margin-right:5px;
    background-color: #e9e9e9;
    font-size:13px;
    flex-basis:80px;
    border: 1px solid #d2d4d5;
    height:30px;
    text-align:center;
    line-height:30px;
    margin-bottom:5px;
    position: relative;
  }
  
  .vDateBoxTool .yearsBox>.year:not(.vSelected):hover, .vDateBoxTool .range:not(.vSelected):hover,.vDateBoxTool .vYearsCon>.year:not(.vSelected):hover,.vDateBoxTool .month:not(.vSelected):hover,.vDateBoxTool .day:not(.vSelected):hover{
    background-color: #cecece;
    color:black;
  }
  .vDateBoxTool .range:active,.vDateBoxTool .year:active,.vDateBoxTool .month:active,.vDateBoxTool .day:active{
    background-color: black;
    color:white;
  }
  .vDateBoxTool .vDateBoxControlCon {
    position:relative;width:100%;
    height:36px;
    background-color:#c0bfbf;
    box-shadow:0 -2px 4px 0 #7e7979;
  }
  .vDateBoxTool .vDateBoxControlCon button{
    border:none;
    cursor:pointer;
    top:0;
    transform:none;
  }
  .vDateBoxTool .vDateBoxControlCon button::before{
    position:absolute;
    content:'';
    top:8px;
    left:50%;
    transform:translateX(-50%);
  }
  .vDateBoxTool .vPrev{
    width:36px;
    height:36px;
    position:absolute;
    left:0;
  }
  .vDateBoxTool .vPrev::before{
    width:0;
    height:0;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    border-right:15px solid black;
  }
  .vDateBoxTool .vDateBoxControlCon .linactive::before{
    border-right:15px solid #ccc;
  }
  .vDateBoxTool .vDateBoxControlCon .linactive{
    cursor:not-allowed;
  }
  .vDateBoxTool .vDateBoxControlCon .vBack{
    border:solid 1px #9e9e9e;
    background-image:linear-gradient(to bottom, #ccc 0%, white 100%);
    border-radius:15px;
    top:5px;
    width:70px;
    height:27px;
    background-color:#ccc;
    position:absolute;
    left:25%;
  }
  .vDateBoxTool .vDateBoxControlCon .vClose{
    border:solid 1px #9e9e9e;
    background-image:linear-gradient(to bottom, #ccc 0%, white 100%);
    border-radius:15px;
    top:5px;
    width:70px;
    height:27px;
    background-color:#ccc;
    position:absolute;
    left:50%;
  }
  .vDateBoxTool .vDateBoxControlCon .vbActive:active, .vDateBoxTool .vDateBoxControlCon .vClose:active{
    background-image:linear-gradient(to top, #ccc 0%, white 100%);
  }
  .vDateBoxTool .vDateBoxControlCon .vbActive:hover, .vDateBoxTool .vDateBoxControlCon .vClose:hover{
    color:#32a13f;
  }
  .vDateBoxTool .vDateBoxControlCon .vbInactive{
    cursor:not-allowed;
    background-image:none;
    color:#b3a5a5;
  }
  .vDateBoxTool .vDateBoxControlCon .vNext{
    width:36px;
    height:36px;
    position:absolute;
    right:0;
    left:auto;
  }
  .vDateBoxTool .vDateBoxControlCon .vNext::before{
    width:0;
    height:0;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    border-left:15px solid black;
  }
  .vDateBoxTool .vDateBoxControlCon .rinactive::before{
    border-left:15px solid #ccc;
  }
  .vDateBoxTool .vDateBoxControlCon .rinactive{
    cursor:not-allowed;
  }
  .vDateBoxTool .vYearsCon,.vDateBoxTool .vMonthsCon, .vDateBoxTool .vDaysCon{
    opacity:0;
    flex-wrap:wrap;
    padding:30px 0 20px 2px;
    overflow:hidden;
    transition:all .15s linear;
    align-content: center;
    justify-content: space-around;
    box-sizing: border-box;
    display:none;
    position:absolute;
    width:0%;
    height:0%;
    left:50%;
    top:50%;
    transform:translateX(-50%) translateY(-50%);
  }
  .vDateBoxTool .year,.vDateBoxTool .month, .vDateBoxTool .day{
    flex-shrink: 0;
    cursor:pointer;
    margin:0 2px 10px 0 ;
    background-color: #e9e9e9;
    font-size:13px;
    flex-basis:80px;
    color:inherit;
    border: 1px solid #d2d4d5;
    height:25px;
    text-align:center;
    line-height:25px;
  }
  .vDateBoxTool .vMonthsCon{
    justify-content:center;
  }
  .vDateBoxTool .month{
    flex-basis:80px;
    height:25px;
    line-height:25px;
  }
  .vDateBoxTool .vDaysCon{
    justify-content:start;
    padding:30px 0 20px 13px;
  }
  .vDateBoxTool .day{
    flex-basis:30px;
    height:25px;
    line-height:25px;
  }
  .vDateBox .vTimeCon{
    padding:0;
    width:100%;
    height:130px;
    position: relative;
    background-color: white;
  }
  .vDateBox .timeLabel{
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position: relative;
  }
  .vDateBox .timeLabel::before, .vDateBox .timeLabel::after{
    width: 70px;
    height: 15px;
    position: absolute;
    content:"";
    border-bottom:solid 1px #ccc;
  }
  .vDateBox .timeLabel::before{
    left:30px;
  }
  .vDateBox .timeLabel::after{
    right:30px;
  }
  .vDateBox .meridian{
    width:30px;
    height:20px;
    top: 30px;
    position: absolute;
    right:50px;
  }
  .vDateBox .meridian::before, .vDateBox .meridian::after{
    width:30px;
    height:100%;
    position: absolute;
    text-align:center;
    line-height:20px;
    top:0;
    font-weight: 400;
    font-size: 13px;
  }
  .vDateBox .meridian::before{
    left:-30px;
    content:'AM';
  }
  .vDateBox .AMon::before{
    color:purple;
  }
  .vDateBox .meridian::after{
    right:-30px;
    content:'PM';
  }
  .vDateBox .PMon::after{
    color:purple;
  }
  .vDateBox .meridianSwitchCon{
    box-shadow: inset 0 0px 4px 0px #ccc6c6;
    cursor:pointer;
    width:100%;
    height:14px;
    border: solid 1px #cfcece;
    border-radius: 20px;
    top: 2px;
    position: relative;
    box-sizing: border-box;
  }
  .vDateBox .meridianSwitchCon::before{
    transition:left .1s linear;
    width:10px;
    height:10px;
    border-radius:50%;
    background-color:purple;
    content:'';
    position:absolute;
    top:1px;
  }
  .vDateBox .am::before{
    left:1px;
  }
  .vDateBox .pm::before{
    left:16px;
  }
  .vDateBox .timpePropertiesCon{
    width:100%;
    height:auto;
    top: 45px;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .vDateBox .hourCon,.vDateBox .minCon{
    box-sizing:border-box;
    border:solid 1px #ccc;
    height:35px;
    flex-basis:35px;
    position: relative;
  }
  .vDateBox  .hourCon{
    margin-right: 15px;
  }
  .vDateBox .hourCon::before,.vDateBox .minCon::before{
    text-align:center;
    line-height:20px;
    width:100%;
    height:20px;
    position:absolute;
    top:-22px;
  }
  .vDateBox .hourCon::before{
    content:'h';
  }
  .vDateBox .minCon::before{
    content:'m';
  }
  .vDateBox .hourCon::after{
    width:15px;
    height:100%;
    right:-17px;
    top:0;
    content:':';
    color:#398000;
    font-size:30px;
    text-align:center;
    line-height:35px;
    position:absolute;
  }
  .vDateBox input[type='text']{
    border:none;
    width:100%;
    height:100%;
    padding:0px;
    text-align:center;
    line-height:0;
    color:#398000;
    font-size:23px;
    display: block;
  }
  .vDateBox button{
    transition:all .1s linear;
    width:80px;
    left:50%;
    margin:0 auto;
    height:100%;
    border: none;
    border-radius: 5px;
    display: block;
  }
  .vDateBox .buttonCon{
    height:40px;
    margin: 0 0 15px 0;;
    background-color: white;
  }
  .vDateBox .tbuttonActive{
    cursor:pointer;
    background-color:#800080cc;
    color:white;
  }
  .vDateBox .tbuttonActive:hover{
    color:black;
    background-color:purple;
  }
  .vDateBox .tbuttonActive:active{
    color:white;
  }
  .vDateBox .tbuttonInactive{
    cursor:not-allowed;
  }
  .vDateBoxTool .vSelected{
    background-color: purple;
    color:white;
  }
  .xDnative{
    visibility: hidden;
    position: absolute;
    left: 0;
    top:0;
  }
  .xDnativeWrap{
    width:100%!important;
  }
/* _____________________ */

/* File Input */
.xFnative{
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
.vFile {
  
}
.vFile .fButton{
  display: block;
  flex: 1;
  width: auto;
  border: none;
  font-size: 10px;
  background-image:linear-gradient(to bottom, #f6f0f0 0%, white 100%);
  min-width: 80px;
}
.vFile .fFieldCon {
  display: flex;
  overflow: hidden;
  height: 100%;
  cursor: pointer;
}
.vFile .fFieldCon .fLabel {
  flex: 2;
  padding-left: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 7px;
  white-space: nowrap;
  color:#356b65;
}
/* _____________________ */